<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646462327215-gb4qqi1lerjuor87nveiqsk8mlh4fegu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646462327215-gb4qqi1lerjuor87nveiqsk8mlh4fegu</string>
	<key>API_KEY</key>
	<string>AIzaSyBPBEEKvWui9uljKjCJt7JyEjF8eH-c84o</string>
	<key>GCM_SENDER_ID</key>
	<string>646462327215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arieluni.barberly</string>
	<key>PROJECT_ID</key>
	<string>barberly-281a4</string>
	<key>STORAGE_BUCKET</key>
	<string>barberly-281a4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646462327215:ios:848c660a0f99a8d9d8475a</string>
</dict>
</plist>